@media screen and (max-width:1920px){
  body{
    font-family:sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:100%;
    overflow-x: hidden;
    cursor: default;
  }
  
  nav{
    height: 4vw;
    z-index: 5;
  }
  
  .nav-title{
    display:flex;
    list-style: none;
    width:20%;
    height: 10%;
    justify-content: left;
    margin-left: 2vw;
    padding-top: 0.8vw;
    cursor: default;
  }
    
  .nav-title a{
    cursor: default;
    color: #393939;
    text-decoration: none;
    font-size: 2vw;
    font-family: Segoe UI;
    font-weight: bold;
    z-index: 15;
    position:fixed;
  }
  .nav-links{
    z-index: 5;
    position:fixed;
    top:1vw;
    padding-left:0vw;
    display:flex;
    right:0vw;
    list-style: none;
    width:50%;
    /* height: 100%; */
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .navsquare{
    width:100vw;
    height:4vw;
    position:fixed;
    top:0vw;
    background-color: #FFFFFF;
    z-index: 4;
  }
  
  .nav-links li a{
    color: rgb(64, 21, 82);
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
  }
  
  #content a{
    color: rgb(29, 29, 29);
  }
  
  #content a:hover{
    color:#711FFF;
  }
  
  .cp{
    position: relative;
    width:100vw;
    height:46.15vw;
    z-index: 1;
  }
  
  .cp768{
    display:none;
  }

  .cp320{
    display:none;
  }
  
  .hotel{
    font-weight: bold;
    color: #FFFFFF;
    font-size: 3.13vw;
    position:relative;
    top:-35vw;  
    display:flex;
    justify-content: center;
    z-index:2;
  }
  
  .fuckingline{
    width:5.21vw;
    height: 0.1vw;
    background-color: #FFFFFF;
    position: relative;
    top:-33vw;
    left:46.5vw;
    z-index: 2;
  }
  
  .story{
    color: #FFFFFF;
    font-size: 1.04vw;
    line-height: 2vw;
    text-align: center;
    position: relative;
    top:-31vw;
    display:flex;
    justify-content: center;
    z-index:2;
  }

  .story768{
    display:none;
  }

  .story320{
    display:none;
  }
  
  .seemore{
    width:24.58vw;
    height: 2.5vw;
    position:relative;
    top:-30.5vw;
    left:36.8vw;
    z-index: 2;
  }

  .seemore:active{
    opacity: 0.5;
  }

  .seemore320{
    display:none;
  }
  
  .fire1{
    width:8.41vw;
    height: 7.34vw;
    position: relative;
    top:-20vw;
    left:-15vw;
    z-index: 0;
  }
  
  .video-container {
    position: relative;
    height: 0;
    z-index: 3;
  }
    
  .video-container iframe, .video-container object, .video-container embed {
    width: 51.67vw;
    height: 33.23vw;
    position: relative;
    top: -25vw;
    left: 24vw;
  }
  
  .fire2{
    width:6.7vw;
    height: 5.88vw;
    position: relative;
    top:10vw;
    left:19vw;
  }
  
  .fire3{
    width: 8.41vw;
    height: 7.34vw;
    position: relative;
    top:20vw;
    left:78vw;
    z-index: 1;
  }
  
  .goodbye{
    position: relative;
    font-size: 1.04vw;
    color: #711FFF;
    font-weight: bold;
    writing-mode: vertical-rl;/* FF */
    left:97vw;
    top:-13vw;
  }
  
  @keyframes rowup {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-1945px, 0, 0);
        transform: translate3d(-1945px, 0, 0);
    }
  }
  .list{
    width: 100vw;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    top:10vw;
    overflow: hidden;
  }
  
  .list .rowup{
    -webkit-animation: 20s rowup linear infinite normal;
    animation: 20s rowup linear infinite normal;
    position: relative;
  }
  
  .rowup:hover{
    animation-play-state:paused;
  }

  footer{
    position: relative;
    top: 15vw;
    left:42vw;
    width: 100vw;
    height: 7vw;  
  }

 .icon{
    width:3.5vw;
    height: 3.5vw;
    position: relative;
    left:1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 1.5vw;
 }
 
 .icon:hover{
  transform : scale(1.2);
}
  .footerword{
    font-family: Segoe UI;
    font-size: 0.9vw;
    color:#000000;
  }

}


@media screen and (max-width:768px){
  .line{
    width:3.906vw;
    height:0.52vw ;
    background: #393939;
    margin: 0.651vw;
}
nav{
    position: relative;
}
  
.hamburger{
    position: fixed;
    cursor: pointer;
    top:5vw;
    right: 5%;
    /* top: 50%; */
    transform: translate(-5%,-50%);
    z-index: 15;
} 

.navsquare{
  height: 9.9vw;
}

.nav-title{
  width:50%;
  height: 100%;
  justify-content: left;
  margin-left: 2.5vw;
  padding-top: 1.7vw;
}
.nav-title a{
  font-size: 3.5vw;
  z-index: 15;
  position:fixed;
}
.nav-links{
   position: fixed;
   background-color:rgb(255, 255, 255);
   opacity: 85%;
   width: 100%;
   height: 50%;
   flex-direction:column;
    clip-path: circle(13vw at 90% -25%);
    -webkit-clip-path:circle(13vw at 90% -25%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 12;
}
.nav-links.open{
    clip-path: circle(200vw at 90% -25%);
    -webkit-clip-path:circle(200vw at 90% -25%);
    pointer-events: all;
}
.nav-links li a{
    color:#393939;
    text-decoration: none;
    font-size: 3.5vw;
    z-index: 12;
}
.nav-links li{
    opacity: 0;
}
#content a{
  color: rgb(29, 29, 29);
}

#content a:hover{
  color:#711FFF;
}
.nav-links li:nth-child(1){
    transition:all 0.5s ease 0.15s;
}
.nav-links li:nth-child(2){
    transition:all 0.5s ease 0.3s;
}
.nav-links li:nth-child(3){
    transition:all 0.5s ease 0.5s;
}
.nav-links li:nth-child(4){
    transition:all 0.5s ease 0.7s;
}
.nav-links li:nth-child(5){
    transition:all 0.5s ease 0.9s;
}
li.fade{
    opacity: 1;
}

body{
  margin: 0px;
  margin: 0 auto;
  padding:0px;
  background-size: cover;
  background-repeat:no-repeat;
  background-color: rgb(255, 255, 255);
}

.cp{
  display:none;
}

.cp320{
  display:none;
}

.cp768{
  display:block;
  position: relative;
  width:100vw;
  height:54.17vw;
  z-index: 1;
}

.hotel{
  font-weight: bold;
  color: #711FFF;
  font-size: 5.21vw;
  position:relative;
  top:9vw;  
  display:flex;
  justify-content: center;
  z-index:2;
}

.fuckingline{
  width:13.02vw;
  height: 0.26vw;
  background-color: #711FFF;
  position: relative;
  top:13vw;
  left:43.4vw;
  z-index: 2;
}

.story{
  display:none;
}

.story320{
  display:none;
}

.story768{
  display:block;
  color: #000000;
  font-size: 1.95vw;
  line-height: 4vw;
  text-align: center;
  position: relative;
  top:16vw;
  display:flex;
  justify-content: center;
  z-index:2;
}

.seemore{
  width:61.46vw;
  height: 6.25vw;
  position:relative;
  top:22vw;
  left:19vw;
  z-index: 4;
}

.seemore320{
  display:none;
}

.seemore:active{
  opacity: 0.5;
}

.fire1{
  width:9.82vw;
  height: 8.58vw;
  position: relative;
  top:20vw;
  left:-55vw;
  z-index: 0;
}

.video-container {
  position: relative;
  height: 0;
  z-index: 3;
}
  
.video-container iframe, .video-container object, .video-container embed {
  width: 60.29vw;
  height: 38.67vw;
  position: relative;
  top: 25vw;
  left: 19vw;
}

.fire2{
  width:7.8vw;
  height: 6.92vw;
  position: relative;
  top:65vw;
  left:13vw;
}

.fire3{
  width:9.77vw;
  height: 8.61vw;
  position: relative;
  top:75vw;
  left:82vw;
}

.goodbye{
  position: relative;
  font-size: 1.95vw;
  color: #711FFF;
  font-weight: bold;
  writing-mode: vertical-rl;/* FF */
  left:97vw;
  top:35vw;
}

@keyframes rowup {
  0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  100% {
      -webkit-transform: translate3d(-1945px, 0, 0);
      transform: translate3d(-1945px, 0, 0);
  }
}
.list{
  width: 100vw;
  height: 28.39vw;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  top:56vw;
  overflow: hidden;
  z-index: 5;
}

.list .rowup{
  -webkit-animation: 20s rowup linear infinite normal;
  animation: 20s rowup linear infinite normal;
  position: relative;
}

.rowup:hover{
  animation-play-state:paused;
}

footer{
  position: relative;
  top: 62vw;
  left:38vw;
  width: 100vw;
  height: 10vw;  
}

.icon{
  width: 5vw;
  height: 5vw;
  position: relative;
  left:3.8vw;
  padding-right: 1.5vw;
  padding-bottom: 1.5vw;
}

.icon:hover{
transform : scale(1.2);
}

.footerword{
  font-family: Segoe UI;
  font-size: 1.5vw;
  color:#000000;
}

}

@media screen and (max-width:320px){
  .line{
    width:9.38vw;
    height:1.25vw ;
    background: #393939;
    margin: 1.3vw;
  }


.hamburger{
  position: fixed;
  cursor: pointer;
  top:8.5vw;
  right: 5%;
  /* top: 50%; */
  transform: translate(-5%,-50%);
  z-index: 11;
} 
.nav-title{
  display:flex;
  list-style: none;
  width:30%;
  height: 25%;
  justify-content: left;
  align-items: left;
  margin-left: 3vw;
  padding-top: 3.2vw;
}
.nav-title a{
  color: #393939;
  text-decoration: none;
  font-size: 7.5vw;
  font-weight: bold;
  position: fixed;
}
.nav-links li a {
  color: #393939;
  text-decoration: none;
  font-size: 5vw;
}

.navsquare{
  height: 16vw;
}
#content a{
  color: rgb(29, 29, 29);
}

#content a:hover{
  color:#711FFF;
}
.cp{
  display:none;
}

.cp768{
  display:none;
}

.cp320{
  display:block;
  position: relative;
  top:10vw;
  width:100vw;
  height:56.56vw;
  z-index: 1;
}

.hotel{
  font-weight: bold;
  color: #711FFF;
  font-size: 9.38vw;
  position:relative;
  top:15vw;  
  display:flex;
  justify-content: center;
  z-index:2;
}

.fuckingline{
  width:31.25vw;
  height: 0.63vw;
  background-color: #711FFF;
  position: relative;
  top:22vw;
  left:35vw;
  z-index: 2;
}

.story{
  display:none;
}

.story768{
  display:none;
}

.story320{
  display:block;
  color: #000000;
  font-size: 3.13vw;
  line-height: 8vw;
  text-align: center;
  position: relative;
  top:28vw;
  display:flex;
  justify-content: center;
  z-index:2
}

.seemore{
  display:none;
}

.seemore320{
  display:block;
  width: 147.5vw;
  height: 10vw;
  position: relative;
  top:35vw;
  left:-23vw;
}

.seemore320:active{
  opacity: 0.5;
}

.fire1{
  width:14.62vw;
  height:12.78vw;
  position: relative;
  top:-5vw;
  left:-2vw;
  z-index: 0;
}

.video-container {
  position: relative;
  height: 0;
  z-index: 3;
}
  
.video-container iframe, .video-container object, .video-container embed {
  width: 67.19vw;
  height: 43.13vw;
  position: relative;
  top: 35vw;
  left: 17vw;
}

.fire2{
  width:13.51vw;
  height:11.92vw;
  position: relative;
  top:84vw;
  left:10vw;
}

@keyframes rowup {
  0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  100% {
      -webkit-transform: translate3d(-1945px, 0, 0);
      transform: translate3d(-1945px, 0, 0);
  }
}
.list{
  width: 100vw;
  height: 68.13vw;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  top:70vw;
  overflow: hidden;
  z-index: 5;
}

.list .rowup{
  -webkit-animation: 20s rowup linear infinite normal;
  animation: 20s rowup linear infinite normal;
  position: relative;
}

.rowup:hover{
  animation-play-state:paused;
}

.fire3{
  width:17.01vw;
  height: 14.94vw;
  position: relative;
  top:108vw;
  left:65vw;
}

.goodbye{
  position: relative;
  font-size:4vw;
  color: #711FFF;
  font-weight: bold;
  writing-mode: vertical-rl;/* FF */
  left:86vw;
  top:39vw;
}

footer{
  position: relative;
  top: 80vw;
  left:20vw;
  width: 100vw;
  height: 25vw;  
}

.icon{
  width: 7vw;
  height: 7vw;
  position: relative;
  left:14.5vw;
  padding-right: 1.5vw;
  padding-bottom: 1.5vw;
}

.icon:hover{
transform : scale(1.2);
}

.footerword{
  font-family: Segoe UI;
  font-size: 3.13vw;
  color:#000000;
}

}
