*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  cursor: default;
  
}
nav{
  height: 4vw;
  z-index: 5;
}

.nav-links{
  z-index: 5;
  position:fixed;
  top:1vw;
  padding-left:0vw;
  display:flex;
  right:0vw;
  list-style: none;
  width:50%;
  /* height: 100%; */
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.navsquare{
  width:100vw;
  height:4vw;
  position:fixed;
  top:0vw;
  background-color: #FFFFFF;
  z-index: 4;
}

.nav-links li a{
  color: rgb(64, 21, 82);
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: Segoe UI;
}

.nav-title{
  display:flex;
  list-style: none;
  width:20%;
  height: 10%;
  justify-content: left;
  margin-left: 2vw;
  padding-top: 0.8vw;
  cursor: default;
}
  
.nav-title a{
  cursor: default;
  color: #393939;
  text-decoration: none;
  font-size: 2vw;
  font-family: Segoe UI;
  font-weight: bold;
  z-index: 15;
  position:fixed;
}

#content a{
  color: rgb(29, 29, 29);
}

#content a:hover{
  color:#711FFF;
}
.bigIU{
  position: relative;
  background-image: url("../images/1920/蒙版组\ 74@2x.jpg");
  width: 100vw;
  height: 46.82vw;
  background-size: cover;
  display: grid;
  justify-content: center;
  z-index: 3;
}

.IMIU{
  width: 94.6vw;
  margin-top: 15vw;
}


.about{
  background-color: white;
  display: flex; 
  height: 100vw;
  font-family: Segoe UI;
  padding: 0;
}

.aboutlyrics{
  width: 50%;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 1.56vw;
  color:#711FFF;
  margin: 0!important;
  padding: 0;
}

.aboutpages{
  width: 50%;
  
}
.aboutpages div{
  position: relative;
  height: 68.65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  /* justify-content: center; */
  align-items: center;
  color: white;
}

.aboutpages div>p{
  font-weight: bold;
  font-size: 1.56vw;
  width: 20%;
  line-height: 3.5vw;
  
}
.aboutpages div:nth-child(1){
  background-color:#B891FC;
  
}
.aboutpages div:nth-child(2){
  background-color:#393939;
}
.bgiu{
  width:49.11vw;
  height: 68.65vw;
  position: relative;
}

footer{
  position: fixed;
  top: 90vh;
  left:42vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow-y: hidden;
}

.icon{
  width:3.5vw;
  height: 3.5vw;
  position: relative;
  left:1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 1.5vw;
}

.icon:hover{
transform : scale(1.2);
}
.footerword{
  font-family: Segoe UI;
  font-size: 0.9vw;
  color:#000000;
}

@media screen and (max-width:768px){
  .line{
      width:3.906vw;
      height:0.52vw ;
      background: #393939;
      margin: 0.651vw;
  }
  nav{
      position: relative;
  }
  
  .hamburger{
      position: fixed;
      cursor: pointer;
      top:5vw;
      right: 5%;
      /* top: 50%; */
      transform: translate(-5%,-50%);
      z-index: 11;
  } 
  
  .navsquare{
  height: 9.9vw;
  }
  .nav-title{
  width:50%;
  height: 100%;
  justify-content: left;
  margin-left: 2.5vw;
  padding-top: 1.7vw;
  }
  .nav-title a{
  font-size: 3.5vw;
  z-index: 15;
  position:fixed;
  }
  
  .nav-links{
  position: fixed;
  background-color:rgb(255, 255, 255);
  opacity: 85%;
  width: 100%;
  height: 50%;
  flex-direction:column;
      clip-path: circle(13vw at 90% -25%);
      -webkit-clip-path:circle(13vw at 90% -25%);
      transition: all 1s ease-out;
      pointer-events: none;
      z-index: 10;
  }
  .nav-links.open{
      clip-path: circle(200vw at 90% -25%);
      -webkit-clip-path:circle(200vw at 90% -25%);
      pointer-events: all;
  }
  .nav-links li a{
      color:#393939;
      text-decoration: none;
      font-size: 3.5vw;
      font-weight: bold;
  }
  .nav-links li{
      opacity: 0;
  }
  .nav-links li:nth-child(1){
      transition:all 0.5s ease 0.15s;
  }
  .nav-links li:nth-child(2){
      transition:all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(3){
      transition:all 0.5s ease 0.5s;
  }
  .nav-links li:nth-child(4){
      transition:all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition:all 0.5s ease 0.9s;
  }
  li.fade{
      opacity: 1;
  }
  #content a{
  color: rgb(29, 29, 29);
  }
  
  #content a:hover{
  color:#711FFF;
  }
  footer{
      position: fixed;
      /* margin-top: 4.69vw; */
      width: 100vw;
      height: 10vw; 
      top: 92%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      overflow-y: hidden;
   }
   .icon{
       padding-right: 1.5vw;
       padding-bottom: 1.5vw;
       width: 5vw;
      height: 5vw;
   }
   
   .icon:hover{
    transform : scale(1.2);
  }

  .aboutlyrics{
      width: 50%;
      height: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:center;
      font-family: Segoe UI;
      font-weight: bold;
      font-size: 2vw;
      color:#711FFF;
      margin: 0!important;
      padding: 0;
  }
  .footerword{
      font-family: Segoe UI;
      font-size: 0.78vw;
      color:#000000;
  }

}
@media screen and (max-width:320px){
  .line{
    width:9.38vw;
    height:1.25vw ;
    background: #393939;
    margin: 1.3vw;
  }
 
  .hamburger{
  position: fixed;
  cursor: pointer;
  top:8.5vw;
  right: 5%;
  /* top: 50%; */
  transform: translate(-5%,-50%);
  z-index: 11;
  } 
 
  .navsquare{
      height: 15.94vw;
  }

  nav{
      position: relative;
  }
  .nav-title{
      display:flex;
      list-style: none;
      width:30%;
      height: 25%;
      justify-content: left;
      align-items: left;
      margin-left: 3vw;
      padding-top: 3.2vw;
  }
  .nav-title a{
      color: #393939;
      text-decoration: none;
      font-size: 7.5vw;
      font-weight: bold;
      position: fixed;
  }
  .nav-links li a {
      color: #393939;
      text-decoration: none;
      font-size: 5vw;
    }
    #content a{
      color: rgb(29, 29, 29);
    }
    
    #content a:hover{
      color:#711FFF;
    }
  .bigpics{
  display:none;
  }
  
  .bigpics768{
  display:none;
  }
  
  .bigpics320{
  display:block;
  position: relative;
  width: 100vw;
  height: 145.63vw;
  }
  
  .bigpics320 div {
  position: absolute;
  z-index:1;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: round 10s linear infinite;
  animation: round 10s linear infinite;
  }
  
  .bigpics320 div:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  }
  
  .bigpics320 div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  }
  .bgiu{
      width:47.3vw;
  }
  footer{
      position: fixed;
      /* margin-top: 4.69vw; */
      width: 100vw;
      height: 22vw; 
      top: 91%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      overflow-y: hidden;
  }
  .icon{
      width:7vw;
      height: 7vw;

      padding-right: 1.5vw;
      padding-bottom: 1.5vw;
  }
  .footericon{
      position: relative;

  }
  .icon:hover{
  transform : scale(1.2);
  }

  .aboutlyrics{
      width: 50%;
      height: 80  vw;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:center;
      font-family: Segoe UI;
      font-weight: bold;
      font-size: 1vw;
      color:#711FFF;
      margin: 0!important;
      padding: 0;
  }
  .footerword{
      font-family: Segoe UI;
      font-size: 0.78vw;
      color:#000000;
  }
 
}